
.header {
  background-color: #777;
  color: #efefef;
  font-weight: bold;
}

.user, .resource {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.user > * {
  margin: 4px;
  text-align: center;
}

.user .userId {
  width: 150px;
}

.user .password {
  width: 150px;
}

.user .isAdmin {
  width: 50px;
}

.user .deleteUser {
  width: 50px;
}

.user .saveUser {
  width: 60px;
}

.user .resource-item {
  width: 100px;
}

form {
  margin: 0px;
  padding: 0px;
}

.resource > * {
  margin: 4px;
}

.resource > .id {
  width: 150px;
}
